{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>ANTHROPOLOGIST</h1>
    <h2>Tomb of Annihilation</h2>
    <p>
        <br>
        <i><b>You have always been fascinated by other cultures, from the most ancient and primeval lost lands to the most modern civilizations. By studying other cultures' customs, philosophies, laws, rituals, religious beliefs, languages, and art, you have learned how tribes, empires, and all forms of society in between craft their own destinies and doom. This knowledge came to you not only through books and scrolls, but also through firsthand observation – by visiting far-flung settlements and exploring local histories and customs.</b></i>
    </p>
    
    <p><strong>Source:</strong> Tomb of Annihilation</p>
    
    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Insight</li>
        <li>Religion</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>None</p>

    <h3>Languages</h3>
    <p>Two of your choice</p>

    <h3>Equipment</h3>
    <ul>
        <li>A leather-bound diary</li>
        <li>A bottle of ink</li>
        <li>An ink pen</li>
        <li>A set of traveler's clothes</li>
        <li>One trinket of special significance</li>
        <li>A pouch containing 10gp</li>
    </ul>

    <h3>Features</h3>
    <h4>Cultural Chameleon</h4>
    <p><i>Before becoming an adventurer, you spent much of your adult life away from your homeland, living among people different from your kin. You came to understand these foreign cultures and the ways of their people, who eventually treated you as one of their own. One culture had more of an influence on you than any other, shaping your beliefs and customs. Choose a race whose culture you've adopted.</i></p>

    <h4>Adept Linguist</h4>
    <p><i>You can communicate with humanoids who don't speak any language you know. You must observe the humanoids interacting with one another for at least 1 day, after which you learn a handful of important words, expressions, and gestures – enough to communicate on a rudimentary level.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Anthropologists leave behind the societies into which they were born to discover what life is like in other parts of the world. They seek to see how other races and civilizations survive – or why they did not. Some anthropologists are driven by intellectual curiosity, while others want the fame and recognition that comes with being the first to discover a new people, a lost tribe, or the truth about an ancient empire's downfall.</i></p>

    <h3>Personality Traits</h3>
    <div class ="table-area">
    <table>
        <thead>
            <tr>
                <th>d6</th>
                <th>Personality Trait</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>I prefer the company of those who aren't like me, including people of other races.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>I'm a stickler when it comes to observing proper etiquette and local customs.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>I would rather observe than meddle.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>By living among violent people, I have become desensitized to violence.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>I would risk life and limb to discover a new culture or unravel the secrets of a dead one.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>When I arrive at a new settlement for the first time, I must learn all its customs.</td>
            </tr>
        </tbody>
    </table>

    <h3>Ideals</h3>
    <table>
        <thead>
            <tr>
                <th>d6</th>
                <th>Ideal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Discovery. I want to be the first person to discover a lost culture. (Any)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Distance. One must not interfere with the affairs of another culture – even one in need of aid. (Lawful)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Knowledge. By understanding other races and cultures, we learn to understand ourselves. (Any)</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Power. Common people crave strong leadership, and I do my utmost to provide it. (Lawful)</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Protection. I must do everything possible to save a society facing extinction. (Good)</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Indifferent. Life is cruel. What's the point in saving people if they're going to die anyway? (Chaotic)</td>
            </tr>
        </tbody>
    </table>

    <h3>Bonds</h3>
    <table>
        <thead>
            <tr>
                <th>d6</th>
                <th>Bond</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>My mentor gave me a journal filled with lore and wisdom. Losing it would devastate me.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Having lived among the people of a primeval tribe or clan, I long to return and see how they are faring.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Years ago, tragedy struck the members of an isolated society I befriended, and I will honor them.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>I want to learn more about a particular humanoid culture that fascinates me.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>I seek to avenge a clan, tribe, kingdom, or empire that was wiped out.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>I have a trinket that I believe is the key to finding a long-lost society.</td>
            </tr>
        </tbody>
    </table>

    <h3>Flaws</h3>
    <table>
        <thead>
            <tr>
                <th>d6</th>
                <th>Flaw</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Boats make me seasick.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>I talk to myself, and I don't make friends easily.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>I believe that I'm intellectually superior to people from other cultures and have much to teach them.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>I've picked up some unpleasant habits living among races such as goblins, lizardfolk, or orcs.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>I complain about everything.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>I wear a tribal mask and never take it off.</td>
            </tr>
        </tbody>
    </table>
</div>
    {% endblock %}
</body>