{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>ATHLETE</h1>
    <h2>Tomb of Annihilation</h2>
    <p>
        <br>
        <i><b>You strive to perfect yourself physically and in execution of everything you do. The thrill of competition lights fire in your blood, and the roar of the crowd drives you forward. Tales of your exploits precede you and might open doors or loosen tongues.</b></i>
    </p>
    
    <p><strong>Source:</strong> Tomb of Annihilation</p>
    
    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Acrobatics</li>
        <li>Athletics</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>Vehicles (Land)</p>

    <h3>Languages</h3>
    <p>One of your choice</p>

    <h3>Equipment</h3>
    <ul>
        <li>A bronze discus or leather ball</li>
        <li>A lucky charm or past trophy</li>
        <li>A set of traveler's clothes</li>
        <li>A pouch containing 10 gp</li>
    </ul>

    <h3>Favored Event</h3>
    <p><i>While many athletes practice various games and events, most excel at a single form of competition. Roll or choose from the options in the Favored Events table to determine the athletic event in which you excel.</i></p>

    <div class="table-area">
        <h4>d8 Favored Event</h4>
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Favored Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Marathon</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Long-distance running</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Wrestling</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Boxing</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Chariot or horse race</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Pankration (mixed unarmed combat)</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Hoplite race (racing in full armor with a unit)</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Pentathlon (running, long jump, discus, javelin, wrestling)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Feature: Echoes of Victory</h3>
    <p><i>You have attracted admiration among spectators, fellow athletes, and trainers in the region that hosted your past athletic victories. When visiting any settlement within 100 miles of where you grew up, there is a 50 percent chance you can find someone there who admires you and is willing to provide information and temporary shelter.</i></p>
    <p><i>Between adventures, you might compete in athletic events sufficient enough to maintain a comfortable lifestyle, as per the "Practicing a Profession" downtime activity in chapter 8 of the Player's Handbook.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Competition can forge strong bonds between teammates and rivals or ignite bitter feuds that burn outside the arena. Athletes often apply lessons from their training to their lives in general.</i></p>

    <h3>Athlete Personality Traits</h3>
    <div class="table-area">
        <h4>d8 Personality Trait</h4>
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Personality Trait</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I feel most at peace during physical exertion, whether exercise or battle.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I don't like to sit idle.</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>I have a daily exercise routine I refuse to break.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Obstacles exist to be overcome.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>When I see others struggling, I offer to help.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I love to trade banter and gibes.</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Anything worth doing is worth doing best.</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>I get irritated if people praise someone else and not me.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Athlete Ideals</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Competition. I strive to test myself in all things. (Chaotic)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Triumph. The best part of winning is seeing my rivals brought low. (Evil)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Camaraderie. The strongest bonds are forged through struggle. (Good)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>People. I strive to inspire my spectators. (Neutral)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Tradition. Every game has rules, and the playing field must be level. (Lawful)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Growth. Lessons hide in victory and defeat. (Any)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Athlete Bonds</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Bond</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>My teammates are my family.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I will overcome a rival and prove myself their better.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>My mistake got someone hurt. I'll never make that mistake again.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I will be the best for the honor and glory of my home.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>The person who trained me is the most important person in my world.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I strive to live up to a specific hero's example.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Athlete Flaws</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Flaw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I indulge in a habit that threatens my reputation or health.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I'll do absolutely anything to win.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>I ignore anyone who doesn't compete and anyone who loses to me.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I have lingering pain of old injuries.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I can't sleep except in total darkness.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I must be the captain of any group I join.</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>