{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>CHARLATAN</h1>
    <h2>Player's Handbook</h2>
    <p>
        <br>
        <i><b>You have always had a way with people. You know what makes them tick, you can tease out their hearts' desires after a few minutes of conversation, and with a few leading questions you can read them like they were children's books. It's a useful talent, and one that you're perfectly willing to use for your advantage.</b></i>
    </p>
    
    <p><strong>Source:</strong> Player's Handbook</p>
    
    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Deception</li>
        <li>Sleight of Hand</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>Disguise kit, forgery kit</p>

    <h3>Languages</h3>
    <p>None</p>

    <h3>Equipment</h3>
    <ul>
        <li>A set of fine clothes</li>
        <li>A disguise kit</li>
        <li>Tools of the con of your choice (ten stoppered bottles filled with colored liquid, a set of weighted dice, a deck of marked cards, or a signet ring of an imaginary duke)</li>
        <li>A pouch containing 15gp</li>
    </ul>

    <h3>Features</h3>
    <h4>Favorite Schemes</h4>
    <p style = "margin-bottom: 0%;"><i>Every charlatan has an angle they use in preference to other schemes. Choose a favorite scam or roll on the table below.</i></p>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Scam</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I cheat at games of chance.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I shave coins or forge documents.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>I insinuate myself into people's lives to prey on their weakness and secure their fortunes.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I put on new identities like clothes.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I run sleight-of-hand cons on street corners.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I convince people that worthless junk is worth their hard-earned money.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>False Identity</h4>
    <p><i>You have created a second identity that includes documentation, established acquaintances, and disguises that allow you to assume that persona. Additionally, you can forge documents including official papers and personal letters, as long as you have seen an example of the kind of document or the handwriting you are trying to copy.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Charlatans are colorful characters who conceal their true selves behind the masks they construct. They reflect what people want to see, what they want to believe, and how they see the world. But their true selves are sometimes plagued by an uneasy conscience, an old enemy, or deep-seated trust issues.</i></p>

    <h3>Personality Traits</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Personality Trait</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I fall in and out of love easily, and am always pursuing someone.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I have a joke for every occasion, especially occasions where humor is inappropriate.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Flattery is my preferred trick for getting what I want.</td>
                <tr>
                    <td>4</td>
                    <td>I'm a born gambler who can't resist taking a risk for a potential payoff.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I lie about almost everything, even when there's no good reason to.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Sarcasm and insults are my weapons of choice.</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>I keep multiple holy symbols on me and invoke whatever deity might come in useful at any given moment.</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>I pocket anything I see that might have some value.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Ideals</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Independence. I am a free spirit – no one tells me what to do. (Chaotic)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Fairness. I never target people who can't afford to lose a few coins. (Lawful)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Charity. I distribute the money I acquire to the people who really need it. (Good)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Creativity. I never run the same con twice. (Chaotic)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Friendship. Material goods come and go. Bonds of friendship last forever. (Good)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Aspiration. I'm determined to make something of myself. (Any)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Bonds</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Bond</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I fleeced the wrong person and must work to ensure that this individual never crosses paths with me or those I care about.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I owe everything to my mentor – a horrible person who's probably rotting in jail somewhere.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Somewhere out there, I have a child who doesn't know me. I'm making the world better for him or her.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I come from a noble family, and one day I'll reclaim my lands and title from those who stole them from me.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>A powerful person killed someone I love. Some day soon, I'll have my revenge.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I swindled and ruined a person who didn't deserve it. I seek to atone for my misdeeds but might never be able to forgive myself.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Flaws</h3>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Flaw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I can't resist a pretty face.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I'm always in debt. I spend my ill-gotten gains on decadent luxuries faster than I bring them in.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>I'm convinced that no one could ever fool me the way I fool others.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I'm too greedy for my own good. I can't resist taking a risk if there's money involved.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I can't resist swindling people who are more powerful than me.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I hate to admit it and will hate myself for it, but I'll run and preserve my own hide if the going gets tough.</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>