{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>CLAN CRAFTER</h1>
    <h2>Sword Coast Adventurer's Guide</h2>
    <p>
        <br>
        <i><b>The Stout Folk are well known for their artisanship and the worth of their handiworks, and you have been trained in that ancient tradition. For years you labored under a dwarf master of the craft, enduring long hours and dismissive, sour-tempered treatment in order to gain the fine skills you possess today.</b></i>
    </p>
    <p>
        <i><b>You are most likely a dwarf, but not necessarily- particularly in the North, the shield dwarf clans learned long ago that only proud fools who are more concerned for their egos than their craft turn away promising apprentices, even those of other races. If you aren't a dwarf, however, you have taken a solemn oath never to take on an apprentice in the craft: it is not for non-dwarves to pass on the skills of Moradin's favored children. You would have no difficulty, however, finding a dwarf master who was willing to receive potential apprentices who came with your recommendation.</b></i>
    </p>
    
    <p><strong>Source:</strong> Sword Coast Adventurer's Guide</p>
    
    <h3>Skill Proficiencies</h3>
    <ul>
        <li>History</li>
        <li>Insight</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>One type of artisan's tools</p>

    <h3>Languages</h3>
    <p>Dwarvish or one other of your choice if you already speak Dwarvish</p>

    <h3>Equipment</h3>
    <ul>
        <li>A set of artisan's tools with which you are proficient</li>
        <li>A maker's mark chisel used to mark your handiwork with the symbol of the clan of crafters you learned your skill from</li>
        <li>A set of traveler's clothes</li>
        <li>A pouch containing 5gp and a gem worth 10gp</li>
    </ul>

    <h3>Features</h3>
    <h4>Respect of the Stout Folk</h4>
    <p><i>As well respected as clan crafters are among outsiders, no one esteems them quite so highly as dwarves do. You always have free room and board in any place where shield dwarves or gold dwarves dwell, and the individuals in such a settlement might vie among themselves to determine who can offer you (and possibly your compatriots) the finest accommodations and assistance.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Use the tables for the guild artisan background as the basis for your traits and motivations, modifying the entries when appropriate to suit your identity. (For instance, consider the words "guild" and "clan" to be interchangeable.)</i></p>
    <p><i>Your bond is almost certainly related to the master or the clan that taught you, or else to the work that you produce. Your ideal might have to do with maintaining the high quality of your work or preserving the dwarven traditions of craftsmanship.</i></p>
    
    {% endblock %}
</body>