{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>COURTIER</h1>
    <h2>Sword Coast Adventurer's Guide</h2>
    <p>
        <br>
        <i><b>In your earlier days, you were a personage of some significance in a noble court or a bureaucratic organization. You might or might not come from an upper-class family; your talents, rather than the circumstances of your birth, could have secured you this position.</b></i>
    </p>
    <p>
        <i><b>You might have been one of the many functionaries, attendants, and other hangers-on in the Court of Silverymoon, or perhaps you traveled in Waterdeep's baroque and sometimes cutthroat conglomeration of guilds, nobles, adventurers, and secret societies. You might have been one of the behind-the-scenes law-keepers or functionaries in Baldur's Gate or Neverwinter, or you might have grown up in and around the castle of Daggerford.</b></i>
    </p>
    <p>
        <i><b>Even if you are no longer a full-fledged member of the group that gave you your start in life, your relationships with your former fellows can be an advantage for you and your adventuring comrades. You might undertake missions with your new companions that further the interest of the organization that gave you your start in life. In any event, the abilities that you honed while serving as a courtier will stand you in good stead as an adventurer.</b></i>
    </p>

    <p><strong>Source:</strong> Sword Coast Adventurer's Guide</p>
    
    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Insight</li>
        <li>Persuasion</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>None</p>

    <h3>Languages</h3>
    <p>Two of your choice</p>

    <h3>Equipment</h3>
    <ul>
        <li>A set of fine clothes</li>
        <li>A pouch containing 5gp</li>
    </ul>

    <h3>Features</h3>
    <h4>Court Functionary</h4>
    <p><i>Your knowledge of how bureaucracies function lets you gain access to the records and inner workings of any noble court or government you encounter. You know who the movers and shakers are, whom to go to for the favors you seek, and what the current intrigues of interest in the group are.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Use the tables for the guild artisan background as the basis for your traits and motivations, modifying the entries when appropriate to suit your identity.</i></p>
    <p><i>The noble court or bureaucratic organization where you got your start is directly or indirectly associated with your bond (which could pertain to certain individuals in the group, such as your sponsor or mentor). Your ideal might be concerned with the prevailing philosophy of your court or organization.</i></p>
    
    {% endblock %}
</body>