{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>HOUSE AGENT</h1>
    <h2>Source: Eberron - Rising from the Last War</h2>

    <p><i>You have sworn fealty to a dragonmarked house. If you have a dragonmark, you're likely a member of one of the house's influential families; otherwise, you're an outsider who hopes to make your fortune through the house. Your main task is to serve as the eyes of your house, but you could be called on at any time to act as its hand. Such missions can be perilous but lucrative.</i></p>

    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Investigation</li>
        <li>Persuasion</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>Two proficiencies from the House Tool Proficiencies table</p>

    <h3>Languages</h3>
    <p>None</p>

    <h3>Equipment</h3>
    <ul>
        <li>A set of fine clothes</li>
        <li>The signet ring of your house</li>
        <li>Identification papers</li>
        <li>A purse containing 20 gp</li>
    </ul>

    <h3>Your House</h3>
    <p>House Tool Proficiencies:</p>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>House</th>
                    <th>House Tool Proficiencies</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Cannith</td><td>Alchemist's supplies and tinker's tools</td></tr>
                <tr><td>Deneith</td><td>One gaming set and vehicles (land)</td></tr>
                <tr><td>Ghallanda</td><td>Brewer's supplies and cook's utensils</td></tr>
                <tr><td>Jorasco</td><td>Alchemist's supplies and herbalism kit</td></tr>
                <tr><td>Kundarak</td><td>Thieves' tools and tinker's tools</td></tr>
                <tr><td>Lyrandar</td><td>Navigator's tools and vehicles (air and sea)</td></tr>
                <tr><td>Medani</td><td>Disguise kit and thieves' tools</td></tr>
                <tr><td>Orien</td><td>One gaming set and vehicles (land)</td></tr>
                <tr><td>Phiarlan</td><td>Disguise kit and one musical instrument</td></tr>
                <tr><td>Sivis</td><td>Calligrapher's tools and forgery kit</td></tr>
                <tr><td>Tharashk</td><td>One gaming set and thieves' tools</td></tr>
                <tr><td>Thuranni</td><td>One musical instrument and poisoner's kit</td></tr>
                <tr><td>Vadalis</td><td>Herbalism kit and vehicles (land)</td></tr>
            </tbody>
        </table>
    </div>

    <h3>Features</h3>

    <h4>Role</h4>
    <p><i>You always gather information for your house, but when a baron gives you a specific mission, what sort of work do you do? The House Agent Role table gives possibilities.</i></p>

    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>House Agent Role</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Acquisition</td></tr>
                <tr><td>2</td><td>Investigation</td></tr>
                <tr><td>3</td><td>Research & Development</td></tr>
                <tr><td>4</td><td>Security</td></tr>
                <tr><td>5</td><td>Intimidation</td></tr>
                <tr><td>6</td><td>Exploration</td></tr>
                <tr><td>7</td><td>Negotiation</td></tr>
                <tr><td>8</td><td >Covert Operations</td></tr>
            </tbody>
        </table>
    </div>

    <h4>House Connection</h4>
    <p><i>As an agent of your house, you can always get food and lodging for yourself and your friends at a house enclave. When the house assigns you a mission, it will usually provide you with the necessary supplies and transportation. Beyond this, you have many old friends, mentors, and rivals in your house, and you may encounter one of them when you interact with a house business. The degree to which such acquaintances are willing to help you depends on your current standing in your house.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>House agents are diverse. Consider the house you serve and the work you do when choosing characteristics.</i></p>

    <h4>Personality Traits</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Personality Trait</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>I'm always looking to improve efficiency.</td></tr>
                <tr><td>2</td><td>I love to share trivia about my house's business.</td></tr>
                <tr><td>3</td><td>I never forget an insult against me or my house.</td></tr>
                <tr><td>4</td><td>I'm enthusiastic about everything my house does.</td></tr>
                <tr><td>5</td><td>I represent my house and take pride in my looks.</td></tr>
                <tr><td>6</td><td>I'm critical of monarchies and limits on the houses.</td></tr>
            </tbody>
        </table>
    </div>

    <h4>Ideals</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Common Good. My house serves a vital function, and its prosperity will help everyone. (Good)</td></tr>
                <tr><td>2</td><td>Tradition. I uphold traditions of my house and bring honor to my family. (Lawful)</td></tr>
                <tr><td>3</td><td>Innovation. Abandon old traditions and find better ways to do things. (Chaotic)</td></tr>
                <tr><td>4</td><td>Power. I want to ensure the prosperity of my house and wield its power myself. (Evil)</td></tr>
                <tr><td>5</td><td>Discovery. I want to learn all I can, both for my house and for my own curiosity. (Any)</td></tr>
                <tr><td>6</td><td>Comfort. I want to ensure that me and mine enjoy the best things in life. (Any)</td></tr>
            </tbody>
        </table>
    </div>

    <h4>Bonds</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Bond</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>My house is my family. I would do anything for it.</td></tr>
                <tr><td>2</td><td>I love someone from another house, but the relationship is forbidden.</td></tr>
                <tr><td>3</td><td>Someone I love was killed by a rival faction within my house, and I will have revenge.</td></tr>
                <tr><td>4</td><td>I don't care about the house as a whole, but I would do anything for my old mentor.</td></tr>
                <tr><td>5</td><td>My house must evolve, and I'll lead the evolution.</td></tr>
                <tr><td>6</td><td>I'm determined to impress the leaders of my house, and to become a leader myself.</td></tr>
            </tbody>
        </table>
    </div>

    <h4>Flaws</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Flaw</th>
                    <th>d6</th>
                    <th>Flaw</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>I'm fixated on following official protocols.</td></tr>
                <tr><td>2</td><td>I'm obsessed with conspiracy theories and worried about secret societies and hidden demons.</td></tr>
                <tr><td>3</td><td>My house and blood line make me the best!</td></tr>
                <tr><td>4</td><td>My secret could get me expelled from my house.</td></tr>
                <tr><td>5</td><td>My religious beliefs aren't widespread in my house.</td></tr>
                <tr><td>6</td><td>I'm working for a hidden faction in my house that gives me secret assignments.</td></tr>
            </tbody>
        </table>
    </div>

    <h3>Other House Agents</h3>
    <p><i>This house agent background assumes a role within a dragonmarked house that emphasizes loyalty, intrigue, and the pursuit of power. If you want to play a more independent character, consider the Rogue or Bard classes, which offer different paths to influence and success.</i></p>

    {% endblock %}
</body>