{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>INHERITOR</h1>
    <h2>Source: Sword Coast Adventurer's Guide</h2>

    <p><i>You are the heir to something of great value – not mere coin or wealth, but an object that has been entrusted to you and you alone. Your inheritance might have come directly to you from a member of your family, by right of birth, or it could have been left to you by a friend, a mentor, a teacher, or someone else important in your life. The revelation of your inheritance changed your life, and might have set you on the path to adventure, but it could also come with many dangers, including those who covet your gift and want to take it from you – by force, if need be.</i></p>

    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Survival</li>
        <li>Plus one from among Arcana, History, and Religion</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>Your choice of a gaming set or a musical instrument</p>

    <h3>Languages</h3>
    <p>Any one of your choice</p>

    <h3>Equipment</h3>
    <ul>
        <li>Your inheritance</li>
        <li>A set of traveler's clothes</li>
        <li>The tool you choose for this background’s tool proficiency</li>
        <li>A pouch containing 15 gp</li>
    </ul>

    <h3>Features</h3>

    <h4>Inheritance</h4>
    <p><i>Choose or randomly determine your inheritance from among the possibilities in the table below. Work with your DM to come up with details: Why is your inheritance so important, and what is its full story? You might prefer for the DM to invent these details as part of the game, allowing you to learn more about your inheritance as your character does.</i></p>

    <p><i>The DM is free to use your inheritance as a story hook, sending you on quests to learn more about its history or true nature, or confronting you with foes who want to claim it for themselves or prevent you from learning what you seek. The DM also determines the properties of your inheritance and how they figure into the item's history and importance. For instance, the object might be a minor magic item, or one that begins with a modest ability and increases in potency with the passage of time. Or, the true nature of your inheritance might not be apparent at first and is revealed only when certain conditions are met.</i></p>

    <p><i>When you begin your adventuring career, you can decide whether to tell your companions about your inheritance right away. Rather than attracting attention to yourself, you might want to keep your inheritance a secret until you learn more about what it means to you and what it can do for you.</i></p>

    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Object or Item</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>A document such as a map, a letter, or a journal</td></tr>
                <tr><td>2-3</td><td>A trinket</td></tr>
                <tr><td>4</td><td>An article of clothing</td></tr>
                <tr><td>5</td><td>A piece of jewelry</td></tr>
                <tr><td>6</td><td>An arcane book or formulary</td></tr>
                <tr><td>7</td><td>A written story, song, poem, or secret</td></tr>
                <tr><td>8</td><td>A tattoo or other body marking</td></tr>
            </tbody>
        </table>
    </div>

    <h3>Suggested Characteristics</h3>
    <p><i>Use the tables for the Folk Hero background as the basis for your traits and motivations, modifying the entries when appropriate to suit your identity.</i></p>

    <p><i>Your bond might be directly related to your inheritance, or to the person from whom you received it. Your ideal might be influenced by what you know about your inheritance, or by what you intend to do with your gift once you realize what it is capable of.</i></p>

    {% endblock %}
</body>