{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>PIRATE</h1>
    <h2>Source: Player's Handbook</h2>

    <p><i>You sailed on a seagoing vessel for years. In that time, you faced down mighty storms, monsters of the deep, and those who wanted to sink your craft to the bottomless depths. Your first love is the distant line of the horizon, but the time has come to try your hand at something new.</i></p>

    <p><i>Discuss the nature of the ship you previously sailed with your DM. Was it a merchant ship, a naval vessel, a ship of discovery, or a pirate ship? How famous (or infamous) is it? Is it widely traveled? Is it still sailing, or is it missing and presumed lost with all hands?</i></p>

    <p><i>What were your duties on board – boatswain, captain, navigator, cook, or some other position? Who were the captain and first mate? Did you leave your ship on good terms with your fellows, or on the run?</i></p>

    <h3>Skill Proficiencies</h3>
    <ul>
        <li>Athletics</li>
        <li>Perception</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>Navigator's tools, vehicles (water)</p>

    <h3>Languages</h3>
    <p>None</p>

    <h3>Equipment</h3>
    <ul>
        <li>A belaying pin (club)</li>
        <li>50 feet of silk rope</li>
        <li>A lucky charm such as a rabbit foot or a small stone with a hole in the center (or you may roll for a random trinket on the Trinkets table in chapter 5)</li>
        <li>A set of common clothes</li>
        <li>A pouch containing 10 gp</li>
    </ul>

    <h3>Variants</h3>

    <h4>Pirate</h4>
    <p><i>You spent your youth under the sway of a dread pirate, a ruthless cutthroat who taught you how to survive in a world of sharks and savages. You've indulged in larceny on the high seas and sent more than one deserving soul to a briny grave. Fear and bloodshed are no strangers to you, and you've garnered a somewhat unsavory reputation in many a port town.</i></p>

    <p><i>If you decide that your sailing career involved piracy, you can choose the Bad Reputation feature below instead of the Ship's Passage feature.</i></p>

    <h3>Features</h3>

    <h4>Ship's Passage</h4>
    <p><i>When you need to, you can secure free passage on a sailing ship for yourself and your adventuring companions. You might sail on the ship you served on, or another ship you have good relations with (perhaps one captained by a former crewmate). Because you're calling in a favor, you can't be certain of a schedule or route that will meet your every need. Your DM will determine how long it takes to get where you need to go. In return for your free passage, you and your companions are expected to assist the crew during the voyage.</i></p>

    <h4>Alternative: Bad Reputation</h4>
    <p><i>If your character has a pirate background, you may select this background feature instead of Ship's Passage.</i></p>
    <p><i>No matter where you go, people are afraid of you due to your reputation. When you are in a civilized settlement, you can get away with minor criminal offenses, such as refusing to pay for food at a tavern or breaking down doors at a local shop, since most people will not report your activity to the authorities.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>Sailors can be a rough lot, but the responsibilities of life on a ship make them generally reliable as well. Life aboard a ship shapes their outlook and forms their most important attachments.</i></p>

    <h4>Personality Traits</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Personality Trait</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td >My friends know they can rely on me, no matter what.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I work hard so that I can play hard when the work is done.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>I enjoy sailing into new ports and making new friends over a flagon of ale.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>I stretch the truth for the sake of a good story.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>To me, a tavern brawl is a nice way to get to know a new city.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>I never pass up a friendly wager.</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>My language is as foul as an otyugh nest.</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>I like a job well done, especially if I can convince someone else to do it.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Ideals</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Respect. The thing that keeps a ship together is mutual respect between captain and crew. (Good)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Fairness. We all do the work, so we all share in the rewards. (Lawful)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Freedom. The sea is freedom-the freedom to go anywhere and do anything. (Chaotic)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mastery. I'm a predator, and the other ships on the sea are my prey. (Evil)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>People. I'm committed to my crewmates, not to ideals. (Neutral)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Aspiration. Someday I'll own my own ship and chart my own destiny. (Any)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Bonds</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Bond</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I'm loyal to my captain first, everything else second.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>The ship is most important – crewmates and captains come and go.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>I'll always remember my first ship.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>In a harbor town, I have a paramour whose eyes nearly stole me from the sea.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I was cheated out of my fair share of the profits, and I want to get my due.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Ruthless pirates murdered my captain and crewmates, plundered our ship, and left me to die. Vengeance will be mine.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Flaws</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Flaw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>I follow orders, even if I think they're wrong.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I'll say anything to avoid having to do extra work.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Once someone questions my courage, I never back down no matter how dangerous the situation.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Once I start drinking, it's hard for me to stop.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>I can't help but pocket loose coins and other trinkets I come across.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>My pride will probably lead to my destruction.</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>