{% extends 'compendium/backgrounds/general_backgrounds.html' %}

{% load static %}

<body>
    {% block content %}
    <h1>RUNE CARVER</h1>
    <h2>Source: Bigby Presents - Glory of the Giants</h2>

    <p><i>You’ve dedicated your life to studying runecraft. Whether you were taught by a master rune carver or learned by poring over ancient engravings, you can tap into the supernatural power held within runes.</i></p>

    <p><i>The art of runecraft was initially created by giants, but over time, the practice has been adopted by many peoples. As such, though Giant runes are the most commonly used, many rune carvers incorporate symbols from their native languages into the craft.</i></p>

    <h3>Skill Proficiencies</h3>
    <ul>
        <li>History</li>
        <li>Perception</li>
    </ul>

    <h3>Tool Proficiencies</h3>
    <p>One set of artisan's tools</p>

    <h3>Languages</h3>
    <p>Giant</p>

    <h3>Equipment</h3>
    <ul>
        <li>A set of artisan’s tools (one of your choice)</li>
        <li>A small knife</li>
        <li>A whetstone</li>
        <li>A set of common clothes</li>
        <li>A pouch containing 10 gp</li>
    </ul>

    <h3>Rune Styles</h3>
    <p><i>Each rune carver has a unique style and preferred medium. To determine how you make your runes, you can roll on the Rune Style table.</i></p>

    <h4>Rune Style</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Style</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>You inscribe runes in wax or clay with a fine metal needle.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>You whittle pieces of wood into small figurines you mark with runes.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>You engrave runes onto glass beads and thread them onto necklaces and bracelets.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>You stitch your runes into the hems of clothing.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>You carve runes on a set of animal bones you can throw in different formations.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>You draw your runes into candles, melting the wax to smooth over the engravings.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Feature</h3>

    <h4>Rune Shaper</h4>
    <p><i>You gain the Rune Shaper feat.</i></p>

    <h3>Building a Rune Carver Character</h3>
    <p><i>Scholarly pursuits, ancient mysteries, or a fateful encounter might inspire a character to pursue the secrets of a rune carver.</i></p>

    <h3>Suggested Characteristics</h3>
    <p><i>The Rune Carver Personality Traits table suggests a variety of traits you might adopt for your character.</i></p>

    <h4>Rune Carver Personality Traits</h4>
    <div class="table-area">
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Personality Trait</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Is it practical to learn an ancient language that is rarely spoken? No. But is it fun? Very.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>I learned one of my ancestors was a lauded rune carver whose story was lost to time. I seek to rekindle that legacy.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>The old, traditional markings of runecraft look so boring. Why not give my runes some flair?</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>In my studies of runes, I strive to understand how great civilizations of the past fell, so that I may prevent it from happening to societies of the present.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Life may be a whirlwind of chaos around me, but whenever I create my runes, I feel at peace.</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>My brain struggles to process ink words written on paper, but the tactile feeling of carved runes makes my mind sing.</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>