<!DOCTYPE html>
<html lang="en">
{% load static %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Character Forge</title>
    <link rel="stylesheet" href="{% static 'stylesheet/signin.css' %}">
    <link rel="icon" href="{% static 'assets/logo.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
</head>
    <body>



        <div class="cont">

            <img src="{% static 'assets/index2.png' %}" alt="Enter your information" class="woman">
            <div class="container">
                <img src="{% static 'assets/logo.ico' %}" alt="logo image" class="dice-logo">
                <h3>Sign In to Your Account</h3>
                {% if messages %}
                    {% for message in messages %}       
                        <div class="alert">{{ message }}</div>              
                    {% endfor %}
                {% endif %}
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <input  type="text"     name="username"     placeholder="Enter your username"      required>
                    <input  type="password" name="password"     placeholder="Enter your Password"               required>
                    <button type="submit">Sign In</button>
                </form>

                <div class="login-link">
                    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </body>
</html>
