.centered-div {
    width: 80%;           /* Set the width to 80% */
    height: auto;
    margin: 0 auto;      /* Center the div horizontally */
    background-color: #881c1c; /* Set the background color to white */
    padding: 20px;       /* Add some padding for better spacing */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
    border-radius: 5px;  /* Optional: round the corners */
}

.text-area_header {
    background-color: transparent; /* Keep the background transparent */
    padding: 10px; /* Padding inside the text area */
    border: none;
    font-family: 'Handjet', cursive;
    font-size: 200%;
    text-align: left;
    color: black; 
    margin:0;
}

/* Reset margins for headings and paragraphs within the text area */
.text-area h1,
.text-area p {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    line-height: 1.2; /* Optional: Adjust to control spacing between elements */
}

.table-area{
    background-color: white; /* Keep the background transparent */
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Handjet', cursive;
    font-size: 25px;
    overflow-y: auto;
    text-align: left;
    color: black;
    min-height: 100px;
    
}
.table-area h1{
    margin:0;
    padding:0; 
}

.table-area table {
    width: 100%; /* Full width of the .table-area */
    border-collapse: collapse;
}

.table-area th, .table-area td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-area th {
    background-color: #333;
    color: white;
}

.table-area tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for alternating rows */
}

.table-area tr:hover {
    background-color: #ddd; /* Highlight row on hover */
}


